<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MarcaControl</servlet-name>
        <servlet-class>CONTROL.MarcaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedidaControl</servlet-name>
        <servlet-class>CONTROL.MedidaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrupoControl</servlet-name>
        <servlet-class>CONTROL.GrupoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositoControl</servlet-name>
        <servlet-class>CONTROL.DepositoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteControl</servlet-name>
        <servlet-class>CONTROL.ClienteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedorControl</servlet-name>
        <servlet-class>CONTROL.ProveedorControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticuloControl</servlet-name>
        <servlet-class>CONTROL.ArticuloControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaPrecioControl</servlet-name>
        <servlet-class>CONTROL.ListaPrecioControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockControl</servlet-name>
        <servlet-class>CONTROL.StockControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CajaControl</servlet-name>
        <servlet-class>CONTROL.CajaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SucursalControl</servlet-name>
        <servlet-class>CONTROL.SucursalControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpuestoControl</servlet-name>
        <servlet-class>CONTROL.ImpuestoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendedorControl</servlet-name>
        <servlet-class>CONTROL.VendedorControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioControl</servlet-name>
        <servlet-class>CONTROL.UsuarioControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarPassActualControl</servlet-name>
        <servlet-class>CONTROL.ValidarPassActualControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimbradoControl</servlet-name>
        <servlet-class>CONTROL.TimbradoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpresaControl</servlet-name>
        <servlet-class>CONTROL.EmpresaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CajeroControl</servlet-name>
        <servlet-class>CONTROL.CajeroControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArqueoCajaControl</servlet-name>
        <servlet-class>CONTROL.ArqueoCajaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArqueoCajaDetalleControl</servlet-name>
        <servlet-class>CONTROL.ArqueoCajaDetalleControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaControl</servlet-name>
        <servlet-class>CONTROL.VentaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaDetalleControl</servlet-name>
        <servlet-class>CONTROL.VentaDetalleControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaManualControl</servlet-name>
        <servlet-class>CONTROL.VentaManualControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaManualDetalleControl</servlet-name>
        <servlet-class>CONTROL.VentaManualDetalleControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraControl</servlet-name>
        <servlet-class>CONTROL.CompraControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraDetalleControl</servlet-name>
        <servlet-class>CONTROL.CompraDetalleControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametroSistemaControl</servlet-name>
        <servlet-class>CONTROL.ParametroSistemaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaCreditoControl</servlet-name>
        <servlet-class>CONTROL.NotaCreditoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaCreditoDetalleControl</servlet-name>
        <servlet-class>CONTROL.NotaCreditoDetalleControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GastoControl</servlet-name>
        <servlet-class>CONTROL.GastoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraCreditoControl</servlet-name>
        <servlet-class>CONTROL.CompraCreditoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraspasoControl</servlet-name>
        <servlet-class>CONTROL.TraspasoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraspasoDetalleControl</servlet-name>
        <servlet-class>CONTROL.TraspasoDetalleControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraspasoAprobacionControl</servlet-name>
        <servlet-class>CONTROL.TraspasoAprobacionControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraspasoAnulacionControl</servlet-name>
        <servlet-class>CONTROL.TraspasoAnulacionControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjustesStockControl</servlet-name>
        <servlet-class>CONTROL.AjustesStockControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MalogradoControl</servlet-name>
        <servlet-class>CONTROL.MalogradoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaPresupuestoControl</servlet-name>
        <servlet-class>CONTROL.NotaPresupuestoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaPresupuestoDetalleControl</servlet-name>
        <servlet-class>CONTROL.NotaPresupuestoDetalleControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametroCuotaVentaControl</servlet-name>
        <servlet-class>CONTROL.ParametroCuotaVentaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaCreditoControl</servlet-name>
        <servlet-class>CONTROL.VentaCreditoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticuloCostoControl</servlet-name>
        <servlet-class>CONTROL.ArticuloCostoControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarcaControl</servlet-name>
        <url-pattern>/MarcaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedidaControl</servlet-name>
        <url-pattern>/MedidaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrupoControl</servlet-name>
        <url-pattern>/GrupoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositoControl</servlet-name>
        <url-pattern>/DepositoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteControl</servlet-name>
        <url-pattern>/ClienteControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedorControl</servlet-name>
        <url-pattern>/ProveedorControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticuloControl</servlet-name>
        <url-pattern>/ArticuloControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaPrecioControl</servlet-name>
        <url-pattern>/ListaPrecioControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockControl</servlet-name>
        <url-pattern>/StockControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CajaControl</servlet-name>
        <url-pattern>/CajaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SucursalControl</servlet-name>
        <url-pattern>/SucursalControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpuestoControl</servlet-name>
        <url-pattern>/ImpuestoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendedorControl</servlet-name>
        <url-pattern>/VendedorControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioControl</servlet-name>
        <url-pattern>/UsuarioControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarPassActualControl</servlet-name>
        <url-pattern>/ValidarPassActualControl</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <description>
            DB Connection
        </description>
        <res-ref-name>
            jdbc/postgres
        </res-ref-name>
        <res-type>
            javax.sql.DataSource
        </res-type>
        <res-auth>
            Container
        </res-auth>
    </resource-ref>
    <Resource auth="Container" driverClassName="org.postgresql.Driver" maxActive="20" maxIdle="10" maxWait="-1" name="jdbc/postgres" password="Hola.12345678" type="javax.sql.DataSource" url="jdbc:postgresl://127.0.0.1:5432/bd_stock_facturacion" username="postgres"/>
    <servlet-mapping>
        <servlet-name>TimbradoControl</servlet-name>
        <url-pattern>/TimbradoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpresaControl</servlet-name>
        <url-pattern>/EmpresaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CajeroControl</servlet-name>
        <url-pattern>/CajeroControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArqueoCajaControl</servlet-name>
        <url-pattern>/ArqueoCajaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArqueoCajaDetalleControl</servlet-name>
        <url-pattern>/ArqueoCajaDetalleControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaControl</servlet-name>
        <url-pattern>/VentaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaDetalleControl</servlet-name>
        <url-pattern>/VentaDetalleControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaManualControl</servlet-name>
        <url-pattern>/VentaManualControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaManualDetalleControl</servlet-name>
        <url-pattern>/VentaManualDetalleControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraControl</servlet-name>
        <url-pattern>/CompraControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraDetalleControl</servlet-name>
        <url-pattern>/CompraDetalleControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametroSistemaControl</servlet-name>
        <url-pattern>/ParametroSistemaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaCreditoControl</servlet-name>
        <url-pattern>/NotaCreditoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaCreditoDetalleControl</servlet-name>
        <url-pattern>/NotaCreditoDetalleControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GastoControl</servlet-name>
        <url-pattern>/GastoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraCreditoControl</servlet-name>
        <url-pattern>/CompraCreditoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraspasoControl</servlet-name>
        <url-pattern>/TraspasoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraspasoDetalleControl</servlet-name>
        <url-pattern>/TraspasoDetalleControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraspasoAprobacionControl</servlet-name>
        <url-pattern>/TraspasoAprobacionControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraspasoAnulacionControl</servlet-name>
        <url-pattern>/TraspasoAnulacionControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjustesStockControl</servlet-name>
        <url-pattern>/AjustesStockControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MalogradoControl</servlet-name>
        <url-pattern>/MalogradoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaPresupuestoControl</servlet-name>
        <url-pattern>/NotaPresupuestoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaPresupuestoDetalleControl</servlet-name>
        <url-pattern>/NotaPresupuestoDetalleControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametroCuotaVentaControl</servlet-name>
        <url-pattern>/ParametroCuotaVentaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaCreditoControl</servlet-name>
        <url-pattern>/VentaCreditoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticuloCostoControl</servlet-name>
        <url-pattern>/ArticuloCostoControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
